.pedro {
    width: 100px; height: 100px;
}

 .pedro2{
        width: 100px; height: 100px;
    }

    .pedro4{
        width: 100px; height: 100px;
    }
    .pedro5 {
        width: 100px; height: 100px;
    }